.mainContent {
  width: 1680px;
  min-height: 100%;
  background-color: #e5e5e5;
}

.balanceAndCalendar {
  display: flex;
}

.loading {
  margin-top: 20px;
  text-align: center;
  color: #122945;
  font-size: 18px;
  font-weight: 500;
}
