.wrapper {
  position: relative;
}

.container {
  width: 115px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-left: 48px;
}

.calendarButton {
  position: relative;
  top: 12px;
}

.calendarText {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #005ff8;
}

.dateOptions {
  width: 204px;
  position: absolute;
  z-index: -10;
  left: -40px;
  top: 67px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #eaf0fa;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  border-radius: 4px;
}

.dateOptionValue {
  color: #899cb1;
  font-size: 14px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 40px;
}

.dateOptionValue:hover {
  color: #122945;
  background-color: #e5e5e5;
  cursor: pointer;
}

.showDateOption {
  z-index: 10;
}

.dateInput {
  border: none;
  border-bottom: dashed;
}
